body {
    font-family: Verdana, Tahoma, sans-serif;
    background-color: black;
    text-align: center;

}
h1 {
    font-weight: normal;
    font-size: 50px;
    color: white;
}
h2 {
    font-size: 42px;
    font-weight: 300;
}
p {
    font-size: 21px;
    color: gray;
}
.dl-link {
    color: aquamarine;
    font-size: 16px;
}